@import './settings.scss';
// add global, btn, components, normalize + other
// @import 'settings/variables.scss';
// @import 'settings/mixins.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    &.router-link-exact-active {
        // border: 5px solid red;
    }
}

body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-style);
    &.overflow {
        overflow: hidden;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    // @include respond-below(sm) {
    //     height: 280px;
    // }
    @include respond-below(md_plus) {
        max-width: 1024px;
    }
    @include respond-below(md) {
        max-width: 768px;
    }
    @include respond-below(sm) {
        max-width: 568px;
    }
}

.preloader {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-content: center;
    transition: var(--trans-loader);
    .loaded & {
        opacity: 0;
        visibility: hidden;
    }
}

.base-date {
    font-weight: 500;
    letter-spacing: 7px;
}

.w1-3 {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    @include respond-below(sm) {
        width: calc(100% / 1 - 20px);
    }
}