.blog-item {
    background-color: var(--base-color);
    color: var(--light-color);
    min-height: 459px;
    &__head {
        padding: 118px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    &__wrap {
        width: 50%;
    }
    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        text-transform: uppercase;
        padding: 66px 0 29px 0;
    }
    &__intro {
        padding: 0 0 130px 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
}

.header__tag {
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 16px;
}