$color-hover:rgb(167, 157, 157);
:root {
    --base-color: #000000;
    --light-color: #FFFFFF;
    --article-title-color: #1F1F1D;
    --trans-global: all 0.2s linear;
    --trans-button: all 0.5s ease;
    --trans-head: all 0.25s ease-in-out;
    --trans-loader: all 1s;
    --base-font-family: Kanit;
    --base-font-style: normal;
    --button-bg-color: #303030;
}