.item {
    // width: calc(100% / 3 - 20px);
    // margin: 0 10px;
    // @include respond-below(xs) {
    //     width: 100%;
    // }
}

.img {
    height: 200px;
    width: 100%;
}

.article {
    &__title {
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--article-title-color);
    }
    &__tag {
        font-size: 12px;
        text-transform: uppercase;
        color: var(--base-color);
    }
    &__date {
        font-size: 12px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
    }
}